@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

.homepage {
    background-color: rgba(37, 35, 35, .5);
    overflow-x: hidden;
    color: #fff;
    height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;

    @include tablet {
        height: 70vh;
    }

    &:before {
        content: "";
        background: url('../../assets/hero.jpg') no-repeat center center/cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .content {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding: 1rem;
        position: relative;

        @include tablet {
            width: 100%;
        }

        h1 {
            font-size: 3.5rem;
            text-transform: capitalize;

            @include tablet {
                font-size: 2.5rem;
            }
        }

        .search-text {
            margin: 1.5rem;
            font-size: 1.4rem;
        }

        .search {
            width: 100%;
            height: 30%;
            display: flex;
            background-color: rgba(37, 35, 35, .7);
            color: #111;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 15px;
            padding: 4px;

            @include tablet {
                display: none;
            }

            .form-group {
                display: flex;
                flex-direction: column;
                width: 100%;

                @include tablet {
                    display: none; // show on tablet and smaller screens
                }

                /* @include tablet {
                    display: flex;
                    flex-direction: column;
                } */

                .form-rads {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 1rem;
                    color: #fff;
                    padding-left: 1rem;

                    /* @include tablet {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;
                    } */

                    .rads {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .check {
                            display: flex;
                            align-items: center;
                            padding-right: 1rem;

                            button {
                                padding: 0.5rem 1rem;
                                margin-right: 0.5rem;
                                border: none;
                                background-color: transparent;
                                color: #fff;
                                cursor: pointer;

                                &.active {
                                    background-color: #1e88e5;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                .form-inputs {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    /* @include tablet {
                        display: flex;
                        flex-direction: column;
                    } */

                    .input-text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-left: 1rem;

                        /* @include tablet {
                            display: flex;
                            flex-direction: column;
                            padding-left: 0;
                        } */

                        .location {
                            display: flex;
                            flex-direction: column;

                            label {
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                font-size: 12px;
                                color: #fff;
                                margin-bottom: .4rem;
                            }
                        }

                        .form-1 {
                            width: 250px;
                            height: 50px;

                            /* @include tablet {
                                width: 310px;
                            } */
                        }

                        input[type=text] {
                            border: transparent;
                            background-color: #fff;
                            font-size: 1rem;
                            font-family: 'Raleway', sans-serif;
                            padding-left: 1rem;

                            &:focus {
                                outline: none;
                            }
                        }

                        .unit-type {
                            display: flex;
                            flex-direction: column;

                            label {
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                font-size: 12px;
                                color: #fff;
                                margin-left: 1rem;
                                margin-bottom: .4rem;

                                /* @include tablet {
                                    margin-left: 0;
                                    margin-bottom: 0;
                                    margin-top: 1rem
                                } */
                            }
                        }

                        .select {
                            width: 250px;
                            height: 50px;
                            border: transparent;
                            background-color: #fff;
                            font-size: 1rem;
                            font-family: 'Raleway', sans-serif;
                            margin-left: 1rem;
                            padding-left: 1rem;

                            /* @include tablet {
                                margin-left: 0;
                                margin-top: .4rem;
                                width: 310px;
                            } */

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }

                .form-slider {
                    display: flex;
                    flex-direction: column;
                    padding-left: 1rem;
                    padding-right: 1rem;

                    label {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        font-size: 12px;
                        color: #fff;
                        margin-bottom: .4rem;

                        /* @include tablet {
                            margin-top: 1rem;
                        } */
                    }

                    .horizontal-slider {
                        width: 300px;
                        height: 50px;
                        display: flex;
                        align-items: center;

                        /* @include tablet {
                            width: 250px;
                        } */
                    }

                    .example-thumb {
                        background-color: #1e88e5;
                        color: #fff;
                        width: 30px;
                        height: 30px;
                        border-radius: 20px;
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .example-track {
                        height: 6px;
                        background-color: #1e88e5;
                    }

                    .example-track-0 {
                        background-color: #fff;
                    }

                    .example-track-1 {
                        background-color: #1e88e5;
                    }

                    .example-track-2 {
                        background-color: #fff;
                    }
                }

                .radio {
                    display: flex;
                    align-items: center;
                    padding-right: 1rem;

                    /* @include tablet {
                        margin-left: 0;
                        padding-left: 1rem;
                        margin-top: 1rem
                    } */

                    button {
                        width: 150px;
                        background-color: #1e88e5;
                        color: #fff;
                        font-size: 1.2rem;
                        cursor: pointer;
                        border: none;
                        padding: .9rem;

                        /* @include tablet {
                            width: 100%;
                            margin-top: 1rem
                        } */
                    }
                }


            }
        }

        .search-mobile {
            position: absolute;
            bottom: 0; // adjust this as needed
            left: 50%; // center the element
            transform: translateX(-50%); // ensure it is centered accurately
            display: none; // hide by default
            width: 100%;
            height: 50px;
            background-color: #1e88e5;
            color: #fff;
            border: none;
            font-size: 16px;

            @include tablet {
                display: block; // show on tablet and smaller screens
            }
        }

        .form-group {
            @include tablet {
                display: none; // hide on tablet and smaller screens
            }
        }

    }
}