@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

.top-prop {
    width: 100%;
    margin: 4rem 0;
    text-align: center;

    @include tablet {
        margin: 1rem 0;
    }

    .options {
        display: flex;
        justify-content: center;

        p {
            margin: 1rem 2rem;
            font-size: 16px;

            @include tablet {
                margin: 1rem;
            }
        }

        .bold {
            font-weight: 700;
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.2rem;
        padding: 1rem;

        @include tablet {
            grid-template-columns: 1fr;
            grid-gap: .5rem;
        }

        img {
            width: 100%;
        }
    }

    button {
        background-color: #1e88e5;
        color: #fff;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
    }
}